<!DOCTYPE html>
<html lang="pt-pt">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
   <link rel="apple-touch-icon" href="assets/images/logo.png">
    <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">


    <title>Blog Paulo Pinto</title>
<!--
Reflux Template
https://templatemo.com/tm-531-reflux
-->
    <!-- Bootstrap core CSS -->
   <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   <link href="vendor/bootstrap/css/bootstrap-icons.css" rel="stylesheet" />

    <!-- Additional CSS Files -->

	<link rel="stylesheet" href="assets/css/templatemo-style.css" />
	<link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    <link rel="stylesheet" href="assets/css/lightbox.css" />

    <script src="vue-dev/dist/vue.min.js"></script>
  </head>
  <link rel="stylesheet" href="/animate.css">
  <script src="/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>

  <body data-wow-delay="" data-wow-iteration="" class="container-fluind mx-auto">
    <div id="page-wraper" class="wow slideInLeft" data-wow-duration=".1s">
      <!-- Sidebar Menu -->
      <div class="responsive-navk wow slideInRight" data-wow-duration=".1s" data-wow-delay=".1s">
        <i class="fa fa-arrow-right" id="menu-toggle"></i>
        <div id="menu" class="menu open">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="assets/images/meio corpo1.png" alt="" onmouseover="this.src='assets/images/meio corpo2.jpg'" onmouseout="this.src='assets/images/meio corpo1.png'"/></a>
            </div>
            <div class="author-content">
              <h4>Paulo Bunga</h4>
              <span>Programador web <br> & <br>Web Designer</span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">Sobre min</a></li>
                <li><a href="#section2">Aptidões</a></li>
                <li><a href="#section3">Meus Trabalhos</a></li>
                <li><a href="#section4">Contacta-Me</a></li>
              </ul>
            </nav>
            <div class="social-network">
              <ul class="soial-icons">
                <li>
                  <a href="https://www.facebook.com/paulodreed" target="_blank"
                    ><i class="fa fa-facebook wow flash" data-wow-duration="1s" data-wow-iteration="infinite"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.tiktok.com/@pauloernesto235" target="_blank">
                      <i class="fa fa-twitter wow rubberBand d-none" data-wow-duration="1s" data-wow-iteration="infinite"></i>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
                        <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z"/>
                      </svg>
                    </a>

                </li>
                <li>
                  <a href="https://www.instagram.com/paulobunga16/" target="_blank">
                      <i class="fa fa-instagram wow tada" data-wow-duration="1s" data-wow-iteration="infinite"></i>
                    </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile" target="_blank">
                      <i class="fa fa-linkedin wow headShake" data-wow-duration="1s" data-wow-iteration="infinite"></i>
                    </a>
                </li>
                <li>
                  <a href="https://github.com/Paulo23Bunga" target="_blank">
                      <i class="bi bi-github wow zoonIn d-none" data-wow-duration=".1s" data-wow-delay=".5s"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github wow swing" data-wow-duration="1s" data-wow-iteration="infinite" viewBox="0 0 16 16">
  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
</svg>
                </a>
                </li>
              </ul>
            </div>
            <div class="copyright-text">
              <p class="" data-wow-duration=".5s" data-wow-iteration=".2"><i class="fa fa-envelope"></i> paulobunga16@gmail.com<br><i class="fa fa-whatsapp"></i> 927148025</p>

            </div>
          </div>
        </div>
      </div>

      <section class="section about-me wow slideInLeft" data-wow-duration=".1s" data-wow-delay="" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>Sobre Mim</h2>
            <div class="line-dec"></div>
            <span
              >Olá, sou um desenvolvedor e designer web com experiência em design e programação web nas diversas linguagens de programação, bibliotecas e frameworks para uma variedade de clientes, desde startups, particulares até empresas que desejam expandir o seu negócio na internet. <br> Junto com uma equipe de profissionais, cuidamos do seu marting digital para seus usuários finais, tanto consumidores(clientes) quanto corporativos(fornecedores e parceiros).</span
            >
          </div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="assets/images/pro.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>Convicção</h4>
                  <p>
                      Se almejamos atingir uma posição mais elevada,
                      devemos, antes de obter a vitória,
                      dotar-se da convicção de que
                      conseguirá infalivelmente.
                      A luta pela vida nem sempre é vantajosa
                      aos fortes nem aos espertos.
                      Mais cedo ou mais tarde, quem cativa a vitória
                      é aquele que crê plenamente:
                      EU CONSEGUIREI!
                  </p>
                  <div class="white-button">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#gps">Ler Mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="right-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-text">
                  <h4>Habilidades</h4>
                  <p>
                    Os criadores, os ousados, os sonhadores... os líderes de si. Aqueles que não se dobram aos limites que a vida lhes quer impor, muito menos aos limites do seu próprio pensamento. Enquanto os outros vivem por omissão, eles vivem por criação, moldando a vida à sua própria maneira. Pois eles sabem que uma vida de sucesso é fruto do seu próprio poder mental.
                  </p>
                  <p>
                   Actualmente Vivo em Luanda (Angola), estou projectando o lugar mais útil para a instalação da minha startup. Quer saber mais? Visite minhas páginas relacionadas no menu ou clica em ler mais....
                  </p>
                  <div class="white-button">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#mapa">Ver mais</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-image">
                  <img src="assets/images/paulo0.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>O Que Faço</h2>
            <div class="line-dec"></div>
            <span
              ></span
            >
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service-item wow zoomInDown" data-wow-delay=".1s" data-wow-duration=".1s">
                <div class="first-service-icon service-icon wow pulse" data-wow-duration="1s" data-wow-iteration="infinite"></div>
                <h4>Ideias &amp; Criatividade</h4>
                <p>
                  Ideias toram possível a maneira que a gente vive hoje com tudo recurso tecnológico e não só, pessoas criativas fez de tudo para fazer do mundo um lugar melhor. E eu estou convicto que cumprirei um papel importante nesta sociedade.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item wow zoomInDown" data-wow-delay=".2s" data-wow-duration=".1s">
                <div class="second-service-icon service-icon wow pulse" data-wow-duration="1s" data-wow-iteration="infinite"></div>
                <h4>Programação &amp; Designer</h4>
                <p>
                  Desenvolvo todo tipo de projectos web desde a criação de sites até aplicativos. <br>Trabalhos gráficos desde a criação de logótipos folder animações de vídeos etc...
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item wow zoomInDown" data-wow-delay=".3s" data-wow-duration=".1s">
                <div class="third-service-icon service-icon wow pulse" data-wow-duration="1s" data-wow-iteration="infinite"></div>
                <h4>Ferramentas</h4>
                <p>
                 Meu computador e um a boa internet são as minha principais ferramentas de trabalho...
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item wow zoomInDown" data-wow-delay=".4s" data-wow-duration=".1s">
                <div class="fourth-service-icon service-icon wow pulse" data-wow-duration="1s" data-wow-iteration="infinite"></div>
                <h4>Evolução</h4>
                <p>
                  Tudo dia trabalho na perspectiva de evoluir profissionalmente para satisfação de clientes e colaboradores.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>Meus trabalhos</h2>
            <div class="line-dec"></div>
            <span
              >Protótipos.<br>
             Exemplares de alguns trabalhos já feitos por min
              </span
            >
          </div>
          <div class="row">
            <div class="isotope-wrapper">
              <form class="isotope-toolbar">
                <label
                  ><input
                    type="radio"
                    data-type="*"
                    checked=""
                    name="isotope-filter"
                  />
                  <span>Tudo</span></label
                >
                <label
                  ><input
                    type="radio"
                    data-type="people"
                    name="isotope-filter"
                  />
                  <span>Blogs</span></label
                >
                <label
                  ><input
                    type="radio"
                    data-type="nature"
                    name="isotope-filter"
                  />
                  <span>Comercial</span></label
                >
                <label
                  ><input
                    type="radio"
                    data-type="animals"
                    name="isotope-filter"
                  />
                  <span>Apps</span></label
                >
              </form>
              <div class="isotope-box">
                <div class="isotope-item wow flip" data-wow-delay=".1s" data-wow-duration=".1s" data-type="nature">
                  <figure class="snip1321">
                    <img
                      src="assets/images/fabrica1.png"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="https://fascinating-dasik-f596eb.netlify.app"
                        target="_blank"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Web Sites</h4>
                      <span>Web site empresarial e particulares...</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item wow flip" data-wow-delay=".2s" data-wow-duration=".1s" data-type="people">
                  <figure class="snip1321">
                    <img
                      src="assets/images/1%20(2).png"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="https://paulobuna16.000webhostapp.com/index.php"
                        target="_blank"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Tia Bale Music</h4>
                      <span>Blog de música para divulgação de novos talentos, e a promoção da música nacional...</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item wow flip" data-wow-delay=".3s" data-wow-duration=".1s" data-type="nature">
                  <figure class="snip1321">
                    <img
                      src="assets/images/aite%20(3).png"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="assets/images/aite%20(1).png"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Tombukto</h4>
                      <span>É um shoping virtual onde, poderás de forma fácil ter acesso e comprar diversos produtos..</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item wow flip" data-wow-delay=".4s" data-wow-duration=".1s" data-type="people">
                  <figure class="snip1321">
                    <img
                      src="assets/images/afromove.png"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="assets/images/afromove.png"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Afro Move</h4>
                      <span>Afro move é um site de filmes nacionais e africanos, que vem prestigiar o cinema feito em África e facilitar o acesso aos filmes para quem gosta de cinema nacional...</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item wow flip" data-wow-delay=".5s" data-wow-duration=".1s" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="assets/images/weka2.png"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="https://aquamarine-begonia-58eb53.netlify.app/"
                        target="_blank"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>WEKA COMMERCE</h4>
                      <span>Uma loja online que tem de tudo um pouco...</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item wow flip" data-wow-delay=".6s" data-wow-duration=".1s" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="assets/images/perfilChat (1).png"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="assets/images/novo-chat.png"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Chat</h4>
                      <span>É um aplicativo de bate pato mais centrado aos nacionais...</span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section contact-me" data-section="section4" id="app">
        <div class="container">
          <div class="section-heading">
            <h2>Contacta-Me</h2>
            <div class="line-dec"></div>
            <span
              >Deixe seu comentário sobro o web site ou caso desejas algum serviço ou informação.</span
            >
          </div>

          <div class="list-group">
          <div class="list-group-item bg-transparent" v-for="(comment, index) in comments" style="border:none;">
            <span class="comment_author text-light">Autor: <strong>{{ comment.nome }}</strong></span>
            <p class="">{{ comment.sms }}<p>
            <div>
              <a href="#" title="excluir" v-on:click.prevent="removeComment(index)">Excluir</a>
            </div>
          </div>
        </div>

          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="https://api.staticforms.xyz/submit" method="POST">
                  <input type="hidden" name="accessKey" value="4606fbfd-7c36-460a-9266-a9d353741627">
                  <div class="row">
                    <div class="col-md-12">
                      <fieldset class="wow fadeInDownBig" data-wow-delay=".1s" data-wow-duration=".1s">
                        <input
                          type="text" name="name"
                          class="form-control"
                          id="name"
                          placeholder="digite seu nome..."
                           v-model="nome" required
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset class="wow fadeInLeftBig" data-wow-delay=".2s" data-wow-duration=".1s">
                        <input
                          name="phone"
                          type="text"
                          class="form-control"
                          id="subject"
                          placeholder="seu numero..."
                        
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset class="wow fadeInRightBig" data-wow-delay=".2s" data-wow-duration=".1s">
                        <input
                          type="email" name="email"
                          class="form-control"
                          id="email"
                          placeholder="seu email..."
                          required
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset class="wow fadeInUpBig" data-wow-delay=".3s" data-wow-duration=".1s">
                        <textarea
                          name="message"
                          rows="6"
                          class="form-control"
                          id="message"
                          placeholder="Deixa a sua mensagem..."
                          required v-model="sms"
                        ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset class="wow fadeIn" data-wow-delay=".4s" data-wow-duration=".1s">
                        <button v-on:click="AdComentario" type="submit" id="form-submit" class="button">
                          Enviar
                        </button>
                 
                        <input type="text" name="honeypot" style="display:none">
                        
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script type="text/javascript">
         new Vue({
            el: "#app",
            data(){
        return{
        comments:[],
        nome: '',
        sms: ''
        }

      },
      methods: {
        AdComentario(){
            if (this.nome.trim() === '' || this.sms.trim() === '') {
              return;
            }
            this.comments.push({
              nome: this.nome,
              sms: this.sms
            });

        /*    this.nome = '';
            this.sms = ''; */
        },
        removeComment(index){
          /*console.log(index);
          alert(index); */
          this.comments.splice(index, 1);
        }
      }
         }); 
         
    </script>

    <!--MODAL ONDE ESTAMOS-->
<div class="modal fade" id="mapa" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content" style="background-color: rgba(1,1,1,.9); color: white;">
      <div class="modal-header" style="background-color: #01354c; color: white; border: 0;">
        <nav id="navbar-example2" class="navbar navbar-light">

            <h4 style="padding-left: 12px; cursor: pointer;" id="txt-mapa"><i class="fa fa-map-marker"></i> ONDE ESTOU</h4>
          </nav>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="bd-example">

        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example my-2" tabindex="0" id="mapa-gps">

                <img src="mapa/mapa0.jpg" id="pic-mapa">
                <img src="mapa/mapa-africa.jpg" id="pic-mapa1">
                <img src="mapa/567.jpg" id="pic-mapa2">
                <img src="mapa/mapa.jpg" id="pic-mapa3">

          </div>
        </div>
          </div>
      </div>
      <div class="modal-footer" style="background-color: #01354c; color: white; border: 0;">
        <button type="button" class="btn btn-outline-light fechar" data-bs-dismiss="modal">Fechar</button>

      </div>
    </div>
  </div>
</div>


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <!--    <script src="vendor/jquery/jquery-3.5.1.min.js"></script> -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>



<!--MODAL ONDE ESTAMOS-->
<div class="modal fade" id="gps" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content" style="background-color: rgba(1,1,1,.9); color: white;">
      <div class="modal-header" style="background-color: #01354c; color: white; border: 0;">
        <nav id="navbar-example2" class="navbar navbar-light">

            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="btn btn-outline-light" href="#scrollspyHeading1">Objetivos</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-light" href="#scrollspyHeading2">Missão</a>
              </li>
        <li class="nav-item">
                <a class="btn btn-outline-light" href="#scrollspyHeading3">Visão</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-light" href="#scrollspyHeading4">Valores</a>
              </li>
        <li class="nav-item">
                <a class="btn btn-outline-light" href="#scrollspyHeading5">Política</a>
              </li>

            </ul>
          </nav>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="bd-example">

        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example my-2" tabindex="0">

            <h4 id="scrollspyHeading1">OBJETIVOS</h4>
            <p><strong>Eu possuo recursos em tecnologia, inteligência e criatividade para promover acções como:</strong>
      <ul>
      <li>- Definir de forma assertiva o público-alvo, suas necessidades e qual a melhor forma/momento para abordá-los;</li>
      <li>- Criar, revisar e sugerir conteúdo adaptado para a internet;</li>
      <li>- Definir e utilizar palavras-chave para o tipo de negócio;</li>
      <li>- Fortalecer a imagem ou marca por meio de conteúdo qualificado nas redes sociais e relacionamento, bem como a produção de conteúdo para blogs, site e Google;</li>
      <li>- Criar e/ou organizar conteúdos atractivos, capazes de explicar e vender de forma instigante, praticamente irresistível para quem lê;</li>
      <li>- Identificar qual o momento em que o cliente está mais propenso a efectuar uma compra, criando uma situação quase perfeita para a conversão e a venda;</li>
      <li>- Quantificar as visitas em determinados canais em um período de tempo;</li>
      <li>- Identificar quais ferramentas estão a produzir maior número de contacto;</li>
      <li>- Orientar os clientes sobre o investimento e retorno em cada ferramenta digital;</li>
      <li>- Produzir e explicar os relatórios com todos os indicadores de resultado das acções de marketing digital;</li>
      <li>- Concretizar o objectivo que levou a parceria.</li>

      </ul>
      </p>
            <h4 id="scrollspyHeading2">MISSÃO</h4>
            <p>Minha missão é atender com excelência as necessidades dos nossos clientes a partir do desenvolvimento e oferta de produtos e serviços que contribuam para a melhoria da qualidade de vida, gerando impacto positivo tanto para os nossos clientes como para nós.</p>
            <h4 id="scrollspyHeading3">VISÃO</h4>
            <p>Pretendo ser um desenvolvedor de referência, reconhecido como a melhor opção em programação e designer web e fornercer aos nossos clientes, colaboradores, comunidade, fornecedores e investidores, as melhores soluções devido à qualidade de meus serviços.</p>
            <h4 id="scrollspyHeading4">VALORES</h4>
            <p>
      <table class="table table-sm table-bordered text-white">
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Integridade</td>
            <td>Comprometimento</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Valorização Humana</td>
            <td>Superação de Resultados</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Melhoria contínua</td>
            <td>Humildade</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Simplicidade</td>
            <td>Disciplina</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Inovação</td>
            <td>Auto-sustentabilidade</td>
          </tr>
          </tbody>
        </table>
      </p>
            <h4 id="scrollspyHeading5">POLÍTICA DE QUALIDEDE</h4>
            <p>Busco a satisfação dos clientes, melhorando continuamente a qualidade de serviços, com os melhores preços e prazos de execução, com segurança para todos os envolvidos no processo.</p>
          </div>
        </div>
          </div>
      </div>
      <div class="modal-footer" style="background-color: #01354c; color: white; border: 0;">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Sair</button>

      </div>
    </div>
  </div>
</div>

</html>
